# Dependency directories
node_modules/

# Environment variables (SANGAT PENTING!)
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Metadata (File sampah dari Windows/Mac)
.DS_Store
Thumbs.db

# Package manager lockfiles
# (Hapus baris di bawah kalau kamu ingin tetap men-track versi library)